@charset "UTF-8";
/* CSS Document */


body {
	
		
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	position: relative;
	margin: 40px;
}



h1 {
	position: relative;
	text-align: left;
	font-weight: 100;
	width: 280px;
	border: 15px hidden;
	padding: 20px;
	margin: 20px;
}

div {
  position: relative;
  align-items: center;
	
  width: 300px;
  border: 15px solid #1F1F1F;
  padding: 50px;
  margin-left: 200px;
	margin-bottom: 40px;

}
	
